body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app{
  display: flex;
  justify-content: center;
}
.inside{
  width: 700px;
}
.navbar{
  display: flex;
  justify-content: space-between;
}

.btns{
  margin-top: 30px;
}

.btn{
  padding: 10px;
  border: none;
  background-color: #fff;
}
.home--btn:hover{
  color: tomato;
}
.blog--btn{
  margin-left: 20px;
  background-color:slategray;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
.blog--btn:hover{
  background-color: #fff;
  color: slategray;
}

.content{
  margin-top: 50px;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.div{
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
body{
  background-color: thistle;
}
.outside-form-div{
  display: flex;
  justify-content: center;
}
.form-title{
  text-align: center;
}
.form{
  margin-right: 220px;
  margin-top: 80px;
  border: 1px solid black;
  padding: 20px 50px;
}
.button{
  background-color:cornflowerblue;
  color: white;
  border: none;
  border-radius: 10px;
  padding:10px 20px;
  margin: 25px;
}
.form--div{
  border: 1px solid black;
  height: 280px;
  width: 280px;
  margin-top: 95px;
  background-color: aquamarine;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
}
.name,.age{
  margin-top: 48px;
}

